:root {
  --tamanho-fonte: 20px;
}

.container {
  background-color: lightgreen;
}

.container p {
  color: rgb(255, 0, 0);
  font-size: var(--tamanho-fonte);
  font-family: 'Courier New', Courier, monospace;
}